/* Dark mode colors. */
:root {
    --sl-font: 'Outfit' !important;

	--sl-color-accent-low: #341240;
	--sl-color-accent: #9f00c9;
	--sl-color-accent-high: #e0b7f0;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
	--bg-image: linear-gradient( 94.3deg, rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #341240;
	--sl-color-accent: #9f00c9;
	--sl-color-accent-high: #e0b7f0;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #3a3d46;
	--sl-color-gray-3: #53565e;
	--sl-color-gray-4: #6d6f77;
	--sl-color-gray-5: #888a91;
	--sl-color-gray-6: #a4a6ac;
	--sl-color-gray-7: #c1c3c8;
	--sl-color-black: #ffffff;
	--bg-image: linear-gradient(94.3deg, rgba(81,84,115,1) 80%, rgba(26,33,64,1) 50%);
}



body {
    background-image: var(--bg-image);
}