---
import { Image } from 'astro:assets'
import example1Logo from './src/assets/houston.webp'
import example2Logo from './src/assets/houston.webp'
import example3Logo from './src/assets/houston.webp'

const sponsors = [
  {
    name: 'Example',
    img: example1Logo,
    url: 'https://example.com',
    size: 'large'
  },
  {
    name: 'Example',
    img: example2Logo,
    url: 'https://example.com'
  },
  {
    name: 'Example',
    img: example3Logo,
    url: 'https://example.com'
  },
]
---

<section>
  {sponsors.map(sponsor => (
    <a href={sponsor.url} class={sponsor.size ?? ''}>
      <article>
        <h4>{sponsor.name}</h4>
        <Image height={sponsor.size === 'large' ? 72 : 36} src={sponsor.img} alt={sponsor.name}/>
      </article>
    </a>
  ))}
</section>

<style>
    section {
      display: flex;
      flex-wrap: wrap;
      border-radius: 0.75rem;
      overflow: hidden;
      gap: 0.25rem;
      width: 100%;
      margin-top: 1rem;
    }
    a {
      width: 34%;
      flex-grow: 1;
    }
    a.large {
      width: 100%;
    }
    article {
      display: flex;
      background-color: var(--sl-color-gray-6);
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      width: 100%;
    }
    article:hover {
      background-color: var(--sl-color-gray-1);
    }
    article:hover :global(img) {
      filter: none !important;
    }
    :root[data-theme='light'] article:hover :global(img) {
      filter: grayscale(1) invert(1) !important;
    }
    h4 {
      position: absolute;
      width: 1px;
      height: 1px;
      white-space: nowrap;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      overflow: hidden;
    }
    :root[data-theme='dark'] article :global(img) {
      filter: grayscale(1) invert(1);
    }
  </style>